<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars 'R' Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="container">
<h1>Cars 'R' Us</h1>

<button id="btn-fetch-cars" class="btn btn-primary">Fetch Cars</button>
<table class="table">
    <thead>
    <tr><th>Brand</th><th>Model</th><th>Price per day</th> <th>Best discount in</th></tr>
    </thead>
    <tbody id="tbl-body"></tbody>
</table>
<script>
    const fetchCars = document.getElementById('btn-fetch-cars');
    const tbody = document.querySelector('#table-rows');
    const url = 'http://localhost:8080/api/cars';
    fetchCars.addEventListener('click', () => {
        fetch(url)
            .then(response => response.json())
            .then(cars => {
                const rowsAsStr = cars.map(car => {
                    return `<tr>
                        <td>${car.brand}</td>
                        <td>${car.model}</td>
                        <td>${car.pricePrDay}</td>
                        <td>${car.bestDiscount}</td>
                    </tr>`
                }).join('');
                document.getElementById("tbl-body").innerHTML = rowsAsStr
            });
    })
</script>
</body>
</html>